"""Holds my secrets from github"""

db_config = {
 'host': '',
 'user': '',
 'password': '',
 'db': ''
}

twitch = {
  'name': '',
 'pw': ''
}

twit_cfg = {
    'c_key': '',
    'c_sec': '',
    't_key': '',
    't_sec': ''
}
